mixin video(video)
    div.video-block
        div.video-block__video
            video(src="/" + video.fileUrl)
            h4
                a(href=`/videos/${video.id}`)=video.title
            p=video.description

            small=video.createdAt
        
    