// configs

@import "./configs/_variables.scss";
@import "./configs/_resets.scss";

// components

@import "./components/header.scss";
@import "./components/footer.scss";

// screens

@import "./screens/home.scss";

// defaults

body {
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: black;
}

main {
  min-height: 70vh;
}
