// configs

@import "./configs/_variables.scss";
@import "./configs/_resets.scss";

// components

@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/form.scss";

// screens

@import "./screens/home.scss";
@import "./screens/edit-profile.scss";
@import "./screens/watch.scss";
@import "./screens/profile.scss";
@import "./screens/upload.scss";

// defaults

header,
footer,
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $bgcolor;
}

a {
  text-decoration: none;
  color: black;
}

main {
  min-height: 70vh;
}
