.profile__container {
  text-align: center;
  margin-bottom: 24px;

  ul {
    li {
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
      span {
        font-size: 24px;
      }
    }
  }
}
