.video__player {
  margin: auto;
  background-color: black;

  .videoContainer {
    width: 100%;
    height: 60vh;
    position: relative;

    .videoControls {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 24px;

      display: flex;
      justify-content: space-around;
      align-items: center;

      .videoDivide {
        display: flex;
        align-items: center;

        #volume {
          width: 48px;
          height: 6px;
          margin: 0 8px;
        }
      }

      button {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 16px;
        padding: 8px;
        cursor: pointer;
      }

      #timeLine {
        position: absolute;
        bottom: 48px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 85%;
        height: 4px;
      }
    }

    span {
      color: white;
    }
  }
}

.videoContainer > video {
  height: 100%;
  width: 100%;
}

.video__description {
  margin-left: 16px;

  h4 {
    font-size: 24px;
    margin: 16px 0;
  }

  ul {
    display: flex;
    color: blue;

    li {
      margin-right: 16px;
      margin-bottom: 8px;
    }
  }

  p {
    margin-bottom: 8px;
    font-size: 18px;
  }

  small {
    color: $lightgrey;
  }

  .video__owner {
    margin-bottom: 36px;
    a {
      transition: all 300ms ease-in;
      font-size: 18px;
      font-weight: 600;
    }

    a:hover {
      color: red;
    }
  }
}

.video__btns {
  display: flex;
  margin: 24px;
  font-size: 16px;
  margin-bottom: 48px;
  .video__editBtn {
    margin-right: 8px;
    transition: all 300ms ease-in;
    &:hover {
      color: blue;
    }
  }

  .video__deleteBtn {
    transition: all 300ms ease-in;
    &:hover {
      color: red;
    }
  }
}

.hidden {
  position: absolute;
  visibility: hidden;
  display: none;
}

.video__add-comments {
  .video__comments-form {
    button {
      border: none;
      cursor: pointer;
      margin-top: 8px;
      background-color: black;
      color: white;
      padding: 8px 36px;
      border-radius: 8px;
    }
    textarea {
      border-radius: 8px;
      border: 2px solid black;
      &::placeholder {
        text-align: center;
      }
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__comments-ul {
    margin-top: 18px;
    .video__comment {
      background-color: $mongcolor;
      color: white;
      margin: 12px 0;
      padding: 8px 36px;
      border-radius: 8px;
    }
  }
}
