.video__player {
  position: sticky;
  top: 0;
  margin: auto;
  background-color: black;
  text-align: center;

  span {
    color: white;
  }

  video {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 500px;
  }
}

.video__description {
  margin-left: 16px;

  h4 {
    font-size: 24px;
    margin: 16px 0;
  }

  ul {
    display: flex;
    color: blue;

    li {
      margin-right: 16px;
      margin-bottom: 8px;
    }
  }

  p {
    margin-bottom: 8px;
    font-size: 18px;
  }

  small {
    color: $lightgrey;
  }

  .video__owner {
    margin-bottom: 36px;
    a {
      transition: all 300ms ease-in;
      font-size: 18px;
      font-weight: 600;
    }

    a:hover {
      color: red;
    }
  }
}

.video__btns {
  display: flex;
  margin: 24px;
  font-size: 24px;
  .video__editBtn {
    margin-right: 8px;
    transition: all 300ms ease-in;
  }
  .video__editBtn:hover {
    color: blue;
  }

  .video__deleteBtn {
    transition: all 300ms ease-in;
  }
  .video__deleteBtn:hover {
    color: red;
  }
}
