extends base

block content 
    if errorMessage 
        span=errorMessage
    form(method="post")
        input(placeholder="Old Password", type="password", name="old")
        input(placeholder="New Password", type="password", name="newPassword")
        input(placeholder="New Password Confirmation", type="password", name="newPassword2")
        input(type="submit", value="Change Password")