extends base

block content 
    if errorMessage 
        .form__errorMessage
            span=errorMessage
    form(method="POST")
        input(placeholder="Username" name="username" type="text", required)
        input(placeholder="Password" name="password" type="password", required)
        input(value="Log In" type="submit")
        br
        a(href="/users/github/start" class="githubLogin") 
            i.fab.fa-github
            |Continue with Github &rarr;
    
    div.form__link  
        span Don't have an account? 
        a(href="/join") Create one now &rarr;