extends base 
include mixins/video

block content 

    .profile__container
        ul
            li 
                img(src=`${user.avatarUrl}` width="100" height="100")
            li 
                span=user.name

    .home__container
        each video in user.videos
            +video(video)
        else 
            li Sorry nothing found.