header 
    nav.header 
        a.header__column(href="/")
            img(src="https://user-images.githubusercontent.com/62231339/117265541-4c625080-ae8f-11eb-98f1-76d684a42859.png")
            span.header__title MongTube

        ul.header__column
            if loggedIn
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href="/users/logout") Log Out 
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl
                            img(src=`${loggedInUser.avatarUrl}`)
                        else 
                            | My Profile
            else
                li 
                    a(href="/join") Join
                li 
                    a(href="/login") Login
            li 
                a(href="/search") Search
                    